body{
    margin-top: 10px;
}

.container {
    height: 800px;    
} 

.box {
 height: 75%;
 width: 75%;
 background: "F0F0F0";
 margin: 10px;
}

.box_in {
    height: 50%;
    width: 75%;
    background: "F0F0F0";
    margin: 10px;
}

.google-maps {
position: relative;
padding-bottom: 50%; // This is the aspect ratio
height: 0;
overflow: hidden;
}

.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}